
.nav-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1rem 3.5rem;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-family: "kozoo", Arial, Helvetica, sans-serif;
}
.nav-left img {
  width: 28px;
}
.nav-left {
  width: 20%;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 28px;
  font-family: "bolaji", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  /*  */
}
.nav-logo {
  color: #e05e36;
}
.nav-left span {
  margin: 0 0.345rem;
  color: #000000;
}
.nav-middle {
  width: 30%;

  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  font-size: 1.5rem;
  /* max-width: 490px; */
}

.nav-middle__list-item-link {
  color: #606060;
  transition: all 400ms ease-out;
  padding: 0 0.5rem;
  font-size: 1.5rem;
}
.nav-border {
  border: 1px solid #000000;
  border-radius: 15.364px;
  padding: .5rem 1rem;
}
.nav-colored{
    color: #E05E36;
}
.nav-background{
    background: #E05E36;
border-radius: 5.58692px;
color: #fff;
padding: .3rem 1rem;
}
.nav-middle__list-item-link:active,
.nav-middle__list-item-link:hover {
  color: #e05e36;
}
.nav-right {
  width: 35%;
  font-style: normal;
  font-weight: 400;
  color: #606060;
  line-height: 26px;
  font-size: 1.5rem;
  /* max-width: 500px; */
}
.nav-middle__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-right__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mobile-menu{
    display: none;
}
@media screen and (max-width:1160px){
    .nav-right{
        display: none;
    }
    .nav-left{
        width: 30%
    ;
    }
    .nav-middle{
        width: 70%;
        max-width: 420px;
    }
}
@media screen and (max-width:768px){
 .nav-middle{
display: none;

}
.nav-left{
    width: unset;
    
}
.nav-logo{
    font-size: 1.5rem;
}
.mobile-menu{
    display: flex;
    font-size: 1.4rem;
}   
}






